@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@600&display=swap');

body {
	background-color: rgba(0, 0, 0, 0.9);
	font-family: 'Source serif pro';
}

h1,h2,h3{
	color : white;
	text-align: center;
}

h1{
	font-size: 70px;
}

.parent{
	width: 50vw;
	position: absolute;
	left: 25vw;
	display: grid;
}

.input h3{
	color: white;
	font-size: 20px;
	width: 100%; 
	text-align: center;
}

.input{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	bottom: 4%;
}

form{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.input button{
	position: relative;
	width: 40%;
	height: 5vh;
	top: 20px;
	background-color: rgb(32, 32, 32);
	color: white;
	border: 2px solid rgb(156, 156, 156);
	border-radius: 25px;
	cursor: pointer;
}

.input button:hover{
	background-color: rgb(71, 71, 71);
	border-color: rgb(216, 216, 216);
	transition: all 0.3s;
}

.input button:active{
	background-color: rgb(68, 88, 71);
	transition: all -1s;
}

.input input{
	position: relative;
	height:30%;
	width: 30%;
	text-align: center;
}

.result{
	position: relative;
	margin: 50px;
}

.result span{
	color: gold;
}

.bubble{
	position: relative;
	width: 150px;
	border: 3px solid rgb(63, 63, 63);
	border-radius: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	transition: all 0.5s linear;
}

.bubble h3{
	font-size: 18px;
}

.bubble:hover{
	width: 95%;
	left: 2.5%;
	border-color: rgb(151, 151, 151);
	transition: all 0.3s ;
}

.hidden {
	display: none;
}
  
.visuallyhidden {
	opacity: 0;
}

.copyright{
	position: relative;
	color: white;
	font-size: 15px;
	text-align: right;
	top: 95vh;
}

.languages{
	position: fixed;
	right: 2%;
}

.languages .chosen-btn{
	background-color: rgb(71, 71, 71);
	border-color: rgb(216, 216, 216);
}

.languages button{
	background-color: rgb(32, 32, 32);
	color: white;
	border: 2px solid rgb(156, 156, 156);
	border-radius: 15px;
	cursor: pointer;
	font-size: 30px;
	width: 70px;
	height: 150%;
}

.languages button:hover{
	background-color: rgb(58, 58, 58);
	border-color: rgb(180, 180, 180);
	transition: all 0.5s;
}

.languages button:active{
	border-color: rgb(6, 165, 6);
	transition: all 0.1s;
}
.languages .chosen-btn:active{
	border-color: red;
	transition: all 0.1s;
}

@media (max-height : 840px) {
	h1{
		font-size: 60px;
		margin: 20px;
	}
}

@media (max-height : 750px) {
	h1{
		font-size: 55px;
		margin: 13px;
	}
	.result{
		margin: 35px;
	}
	.bubble h3{
		font-size: 12px;
	}
}

@media (max-height:650px) {
	h1{
		font-size: 35px;
	}
	h2{
		font-size: 18px;
	}
	h3, .input h3{
		font-size: 14px;
	}
}

@media (max-width:400px) {
	.parent{
		left: 30px;
	}
}

@media (orientation:portrait) and (min-height:800px) {
	.parent{
		width: 110vw;
		left: 0;
		height: 100vh;
	}
	h1{
		font-size: 620%;
		padding-top: 20%;
	}
	h2{
		font-size: 372%;
	}
	.input{
		width: 100%;
	}
	.input button{
		width: 85%;
		font-size: 240%;
	}
	.input input{
		width: 75%;
		font-size: 300%;
	}
	.input h3{
		font-size: 300%;
	}
	.result h3{
		font-size: 372%;
	}
	.bubble{
		width: 60%;
	}
	.copyright{
		font-size: 150%;
		top: 98vh;
	}
	.languages{
		width: 100vw;
		height: 2.5vh;
		top: 3vh;
		padding-top: 3px;
	}
	.languages button{
		width: 45%;
		margin: 0 1.25%;
		font-size: 50px;
		border-top: 3px solid;
	}
}